name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run Tests
        id: test
        continue-on-error: true
        env:
          SCARF_BENCH_GITHUB_TOKEN: ${{ secrets.SCARF_BENCH_GITHUB_TOKEN }}
        run: cargo test --verbose
